.ikony{
    position: fixed;
    height: 4rem;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.ikony>*{
    background-color: rgb(214, 214, 214);
    border-radius: 50px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.2rem;
}
.kontakty{
    position: fixed;
    top: 64px;
    right: 0;
    width: 12rem;
    height: 1rem;
    display: flex;
    justify-content: space-between;

    margin: 0.5rem 0;
}
.kontakty>:nth-child(2)>*{
    padding: 0 0.2rem;
}
.osoby{
    position: fixed;;
    right: 0;
    z-index: -1;

    width: 12rem;
    top: 88px;
    bottom: 0;
    line-height: 290%;
}
.osoby>*>:nth-child(1){
    font-size: 1.8rem;
}
.osoby>*{
    padding-left: 0.2rem;
        display:flex;
    align-items: center;
}
.osoby>*:hover{
    background-color: rgb(206, 201, 201);
    border-radius: 10px;
}
.osoby>*>:nth-child(1){
margin-right: 0.7rem;
background-color: white;
display:flex;
justify-content: center;
align-items: center;
width: 2.3rem;
height: 2.3rem;
border-radius: 50px;
}
